<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Form</title>
</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <b>Search:</b><br>
    <form method="POST" enctype="multipart/form-data" action="/search">
        <table>
            <tr><td>Search for Key:</td><td><input type="text" name="searchKey" th:value="${searchKey}"/></td></tr>
            <tr><td>               </td><td><input type="submit" value="Search" /></td></tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="ki : ${keys}">
            <a th:href="${ki.keyPath}" th:text="${ki.key}" />
        </li>
    </ul>
</div>

<div>
    <b>Insert:</b><br>
    <form method="POST" enctype="multipart/form-data" action="/insert">
        <table>
            <tr><td>Key:</td><td><input type="text" name="insertKey" /></td></tr>
            <tr><td>Value:</td><td><input type="text" name="insertValue" /></td></tr>
            <tr><td>      </td><td><input type="submit" value="Insert" /></td></tr>
        </table>
    </form>
</div>


</body>
</html>