<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pair Form</title>
</head>
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <table>
        <tr><td> <b>Key:</b></td> <td><i th:text="${key}">Chave</i> </td></tr>
        <tr><td> <b>Value:</b></td> <td><i th:text="${value}">Chave</i> </td></tr>
    </table>
</div>

<p></p>
<hr>
<p></p>
<div>
    <b>Update:</b><br>
    <form method="POST" enctype="multipart/form-data" th:action="'/keys/' + ${key}">

        <table>
            <tr><td>Value:</td><td><input type="text" name="updateValue" th:value="${value}" /></td></tr>
            <tr><td>      </td><td><input type="submit" value="Update" /></td></tr>
        </table>
    </form>
</div>


</body>
</html>